.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


router.output.json
src/plugins/fb-event-bus-t.js

# Ignore PSD
*.psd

# Ignore product_detail images files
**/product_detail/pulmuoneshop/images/
**/product_detail/orga/images/

# Ignore event images files
**/event/pulmuoneshop/**/img/
**/event/orga/**/img/

# Ignore event test files
**/event/pulmuoneshop/static/test/
**/test/

# Ignore shop_pulmuone images files
**/shop_pulmuone/planshop/**/img/
